Package: com.dongle.fpscounter
Name: FPSCounter
Depends: mobilesubstrate, applist (>= 1.5.9)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Used to measure application perfermence!
Maintainer: Dongle Su
Author: Dongle Su(agdsdle@gmail.com)
Section: Tweaks
